/* .topnav li{
	display: inline-block;
	width: 90px;
	padding: 0 61px;
} */
header{
	overflow: hidden;
	background-color: white;
	position: fixed;
	top: 0;
	width: 100%;
}

nav a {
	text-decoration: none;
	color: #828282;
	font-size: 18px;
}

body {
	font-family: Roboto;
	font-style: normal;
	margin: 0;
	padding: 0;
}

.container {
	margin: 0 auto;
	max-width: 940px;
}

.home {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	margin: 60px 0;
}
.home-img{
	object-fit: contain;
}
.home-img img{
	width: 100%;
}

.navigation hr {
	border: 1px solid #828282;
	width: 100%;
	margin-top: 15px;
}

.navigation .logo {
	padding-left: 5px;
}

.top-designer-description {
	display: flex;
	align-items: center;
	flex-grow: 3;
}

.top-designer-name {
	font-size: 24px;
	display: flex;
	flex-grow: 1;
}

.top-designer-info {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.about_me {
	background-color: #F6F6F6;
	width: 100%;
	min-height: 400px;
	text-align: center;
	padding-bottom: 104px;
	display: flex;
	flex-wrap: wrap;
}

.about_me h2 {
	padding: 48px 0;
}

p {
	font-weight: 600;
	font-size: 18px;
}
.skills{
	text-align: center;
}
.skills_logo{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-bottom: 111px;
	flex-wrap: wrap;
}
.skills_logo img{
	width: 91px;
	height: 88px;
}
.ai_logo{
	flex-grow: 1;
	margin-bottom: 20px;
}
.ap_logo{
	flex-grow: 1;
	margin-bottom: 20px;
}
.aaf_logo{
	flex-grow: 1;
	margin-bottom: 20px;
}
.figma_logo{
	flex-grow: 1;
	margin-bottom: 20px;
}
#figma_logo{
	width: 60px;
	height: 90px;
}
.skills_logo p{
	font-weight: bold;
	font-size: 14px;
	color: #828282;
	padding: 20px 78px;
	margin: 0 auto;
}
#skills_main_info{
	padding: 48px 0 88px 0;
	font-weight: 600;
	font-size: 18px;
	margin: 0 auto;
}
#ai_text{
	padding-left: 90px;
	padding-right: 85px;
}
.skills h2{
	padding: 50px;
}
.stars{
	display: flex;
	flex-direction: row;
}
.stars img{
	width: 190px;
	height: 25.84px;
	margin: auto;
}