/* .topnav li{
	display: inline-block;
	width: 90px;
	padding: 0 61px;
} */
/* header{
	overflow: hidden;
	background-color: white;
	position: fixed;
	top: 0;
	width: 100%;
}  */

nav a {
	text-decoration: none;
	color: #828282;
	font-size: 18px;
}

body {
	font-family: Roboto;
	font-style: normal;
	margin: 0;
	padding: 0;
}

.container {
	margin: 0 auto;
	max-width: 940px;
}

.home {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	margin: 60px 0;
}
.home-img{
	object-fit: contain;
}
.home-img img{
	width: 100%;
}

.navigation hr {
	border: 1px solid #828282;
	width: 100%;
	margin-top: 15px;
}

.navigation .logo {
	padding-left: 5px;
}

.top-designer-description {
	display: flex;
	align-items: center;
	flex-grow: 3;
}

.top-designer-name {
	font-size: 24px;
	display: flex;
	flex-grow: 1;
}
.about_me h2{
	transition: 0.4s;
}
.about_me h2:hover{
	transform: scale(1.2); 
}

.top-designer-info {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.about_me {
	background-color: #F6F6F6;
	width: 100%;
	min-height: 400px;
	text-align: center;
	padding-bottom: 104px;
	display: flex;
	flex-wrap: wrap;
}

.about_me h2 {
	padding: 48px 0;
}

p {
	font-weight: 600;
	font-size: 16px;
}
.skills{
	text-align: center;
}
.skills_logo{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-bottom: 111px;
	flex-wrap: wrap;
}
.skills_logo img{
	width: 91px;
	height: 88px;
}
.ai_logo{
	flex-grow: 1;
	margin-bottom: 20px;
}
.ap_logo{
	flex-grow: 1;
	margin-bottom: 20px;
}
.aaf_logo{
	flex-grow: 1;
	margin-bottom: 20px;
}
.figma_logo{
	flex-grow: 1;
	margin-bottom: 20px;
}
#figma_logo{
	width: 60px;
	height: 90px;
}
.skills_logo p{
	font-weight: bold;
	font-size: 14px;
	color: #828282;
	padding: 20px 78px;
	margin: 0 auto;
}
#skills_main_info{
	padding: 48px 0 88px 0;
	font-weight: 600;
	font-size: 18px;
	margin: 0 auto;
}
#ai_text{
	padding-left: 90px;
	padding-right: 85px;
}
.skills h2{
	padding: 50px;
	color: #131313;
    letter-spacing: .15em;
    text-shadow: 
      1px -1px 0 #767676, 
      -1px 2px 1px #737272, 
      -2px 4px 1px #767474
}
.stars{
	display: flex;
	flex-direction: row;
}
.stars img{
	width: 190px;
	height: 25.84px;
	margin: auto;
}
.portfolio{
	min-height: 850px;
	background-color: #F6F6F6;
}
h2{
	padding: 30px 0;
	font-weight: bold;
	font-size: 34px;
}
.portfolio a{
	text-decoration: underline;
	color: #070707;
	font-weight: 600;
	font-size: 18px;	
	text-align: center;
	padding: 40px 0 90px;
}
.portfolio h2{
	padding-bottom: 48px;
	text-align: center;
	text-shadow: 
      4px 4px 0px #d5d5d5, 
	  7px 7px 0px rgba(0, 0, 0, 0.2);
}
@keyframes textclip {
	to {
		background-position: 200% center;
	}
}
.top-designer-name h1 {
	color: #fff;
	background: linear-gradient(to right, #e72a3a 10%, rgb(233, 145, 14) 50%, #5bdaff 30%, #25f56a);
	background-size: auto auto;
	background-clip: border-box;
	background-size: 200% auto;
	color: #fff;
	background-clip: text;
	/* text-fill-color: transparent; */
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: textclip 1.5s linear infinite;
}
.team{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding-bottom: 50px;
}
.team-head{
	text-align: center;
}
.first-teammate{
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	justify-content: center;
}
.second-teammate{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
}
.first-teammate-image{
	width: 100%;
}
.first-teammate-image img{
	height: 300px;
	box-shadow: 3px 3px 55px -12px rgba(0,0,0,0.75);

}
.team > div{
	flex: 0 0 45%;
}
.second-teammate-image{
	width: 100%;
}
.second-teammate-image img{
	height: 300px;
	width: 300px;
	box-shadow: 3px 3px 55px -12px rgba(0,0,0,0.75);
}
.first-teammate-info{
	max-width: 300px;
	text-align: justify;
}
.second-teammate-info{
	max-width: 300px;
	text-align: justify;
}
.team-head > h2:hover{
	transform: skewY(-20deg);
}
.team-head h2{
	transition: 0.4s;
}
#macphoto {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  #macphoto:hover {opacity: 0.7;}
  .modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 15%; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {  
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform: scale(0.1)} 
  to {transform: scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
  .modal{
	  padding-top: 60%;
  }
}
.video-block{
	min-height: 500px;
	padding-bottom: 50px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	background-color: #F6F6F6;
}
.video-iframe{
	text-align: center;
	width: 100%;
	height: 500px;
}
.video-iframe iframe{
	width: 90%;
	height: 90%;
}
.video-block > .container{
	width: 100%;
	text-align: center;
}
.sliderSection {
	padding-top: 3rem;
	padding-bottom: 3rem;
	width: 80%;
	height: 400px;
	margin: auto;
  }
  
  .sliderSection .row {
	display: flex;
	justify-content: center;
	text-align: center;
  }
  
  .allLineWidth {
	flex: 0 0 100%;
  }
  
  .sliderSection .row h2 {
	text-transform: uppercase;
  }
  
  .sliderSection h2 {
	font-size: 2rem;
	font-weight: 300;
  }
  
  .sliderSection h5 {
	font-size: 1.25rem;
	font-weight: 300;
	margin-bottom: 0.5rem;
  }
  
  .slider {
	position: relative;
	overflow: hidden;
	z-index: 2;
  }
  
  .slider__wrapper {
	display: flex;
	transition: transform 0.6s ease;
  }
  
  .slider__item {
	flex: 0 0 100%;
	max-width: 100%;
  }
  
  .slider__control {
	position: absolute;
	top: 45%;
	display: none;
	align-items: center;
	justify-content: center;
	width: 30px;
	color: #fff;
	opacity: 0.5;
	height: 0;
	transform: translateY(-50%);
	background: rgba(0, 0, 0, 0.5);
  }
  
  .slider__control_show {
	display: flex;
  }
  
  .slider__control:hover,
  .slider__control:focus {
	color: #fff;
	text-decoration: none;
	outline: 0;
	opacity: 0.9;
  }
  
  .slider__control_left {
	left: 0;
  }
  
  .slider__control_right {
	right: 0;
  }
  
  .slider__control::before {
	content: "";
	display: inline-block;
	width: 20px;
	height: 20px;
	background: transparent no-repeat center center;
	background-size: 100% 100%;
  }
  
  .slider__control_left::before {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
  }
  
  .slider__control_right::before {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
  }
  
  .slider__item:nth-child(1) > div {
	background-image: url("images/braun_web.png");
  }
  
  .slider__item:nth-child(2) > div {
	background-image: url("images/fashion_store_homepage.png");
  }
  
  .slider__item:nth-child(3) > div {
	background-image: url("images/reebok_web.png");
  }
  
  .slider__item > div {
	height: 600px;
	background-size: cover;
	background-repeat: no-repeat;
  }
  input[type=text], select, textarea, input[type=number] {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
  }
  
  input[type=submit] {
	background-color: #4CAF50;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
  }
  
  input[type=submit]:hover {
	background-color: #45a049;
  }
  .feedback-block > .container{
	  display: flex;
	  padding: 5%;
	  flex-wrap: wrap;
	  justify-content: center;
  }
  
.media{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;	
	padding: 30px;
}
.media img{
	width: 40px;
	height: 40px;
}
.join-us{
	text-align: center;
}
footer{
	background-color: lightgray;
}
footer h2{
	margin: 0;
}
.video-head h2{
	color: #333333;
	transition: 0.4s;
}
.video-head h2:hover{
	text-shadow: 2px 2px 0px #FFFFFF, 5px 4px 0px rgba(0,0,0,0.3);
}
.feedback-head h2{
	transition: 0.4s;
}
.feedback-head h2:hover{
	text-shadow: 6px 4px 5px rgba(168, 122, 191, 1);
}
.media a{
	transition: 0.4s;
}
.media a:nth-child(1):hover{
	transform: skewY(15deg);
}
.media a:nth-child(2):hover{
	transform: scale(1.5);
}
.media a:nth-child(3):hover{
	transform: rotate(360deg);
}
.media a:nth-child(4):hover{
	transform: rotateY(180deg);
}